<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <aspNetCore processPath="dotnet"
                arguments=".\e-commerce.api.dll"
                stdoutLogEnabled="true"
                stdoutLogFile=".\logs\stdout">
      <environmentVariables>

        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />

        <environmentVariable name="ConnectionStrings__cs"
          value="Server=db39868.public.databaseasp.net;Database=db39868;User Id=db39868;Password=b-7PJm=48Zp%;Encrypt=False;MultipleActiveResultSets=True;" />

        <environmentVariable name="JWT__Key"
          value="MAHMOUD_MOSTAFA_01112255426_MAHMOUD_ALAA_MAHMOUD_DIAB_01212486070" />
        <environmentVariable name="JWT__Issuar"  value="https://mye-commerceapp.runasp.net" />
        <environmentVariable name="JWT__Audiance" value="https://mye-commerceapp.runasp.net" />
        <environmentVariable name="JWT__DurationTime" value="3" />

        <environmentVariable name="CloudinarySettings__CloudName" value="djw6l6mhs" />
        <environmentVariable name="CloudinarySettings__ApiKey"    value="674679765896272" />
        <environmentVariable name="CloudinarySettings__ApiSecret"
          value="C3FwjVE9Y3z9Yq5axu8zNW-QWzM" />

        <environmentVariable name="Paymob__IntegrationId" value="5621267" />
        <environmentVariable name="Paymob__IframeId"      value="1034132" />
        <environmentVariable name="Paymob__HmacSecret"    value="FDE8733BF1FECBE2E63CCF1BD5369AEA" />

      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>